body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0.62em;
	font: 1.2em/1.62 serif;
	background-color: #feffed;
	color: #292926
}
h1,h2,h3,h4,h5,h6 {
	text-align: center;
	line-height: 1.2;	
	color: #292926
}
p {
	text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
a:link {
	color: #292926;
}
a:hover {
	color: #252525;
}
a:visited {
	color: #292926;
}
a:active {
	color: #252525;
}

